<% include header %>
<section class="hero is-info is-bold is-fluid">
  <div class="hero-body">
    <button class="button is-success is-grouped marged">
        <a href="/create-student">Add student</a>
    </button>
    <div class="columns  is-multiline">
      <% students.forEach((student, index) => {  %>
        <a class="column is-one-quarter" href="/students/<%= index %>">

          <div>
            <div class="card">

              <div class="card-image">

                <figure class="image is-4by3">

                  <%if (student.img) {%>
                    <img src="<%= student.img %>" alt="Placeholder image">
                    <button class="has-text-right delete is-large"></button>

                  <% } else { %>
                    <img src="https://cde.peru.com//ima/0/1/4/3/3/1433061/611x458/google-translate-trololo-song-google.jpg" alt="Placeholder image">
                    <button class="has-text-right delete is-large "></button>
                  <% } %>
                </figure>

              </div>
              <div class="card-content">
                <span class="tag is-primary">
                  Nom: <%= student.name %>
                </span>
                <br>
                <span class="tag is-primary">
                  Prénom: <%= student.firstname %>
                </span>
                <br>
                <span class="tag is-primary">
                  Mail: <%= student.mail %>
                </span>
                <br>
                <span class="tag is-info">
                  Classe: <%= student.classe %>
                </span>
                <br>
                <span class="tag is-warning">
                  Tel: <%= student.tel %>
                </span>
                <br>
                <span class="tag is-danger">
                    Motivation: <%= student.needs %>
                </span>
                <br>
                <time><%= new Date() %>></time>
              </div>
            </div>
          </div>
        </a>
      <% })  %>
    </div>
  </div>
</section>
<% include footer %>
