<% include header %>
<section class="hero is-info is-bold is-fluid marged">
  <div class="hero-body">
    <button class="button is-success is-grouped marged">
        <a href="/create-student">+1 Merdeux</a>
    </button>
    <div class="columns  is-multiline">
      <% students.forEach((student, index) => {  %>
        <a class="column is-one-quarter" href="/students/<%= index %>">

          <div>
            <div class="card">

              <div class="card-image">

                <figure class="image is-4by3">

                  <%if (student.img) {%>
                    <img src="<%= student.img %>" alt="Placeholder image">
                    <button class="delete is-large"></button>

                  <% } else { %>
                    <img src="https://cde.peru.com//ima/0/1/4/3/3/1433061/611x458/google-translate-trololo-song-google.jpg" alt="Placeholder image">
                    <button class="delete is-large "></button>
                  <% } %>
                </figure>

              </div>
              <div class="card-content">
                <span>
                  <p class="tag is-primary"><b>Nom: </b></p> <%= student.name %> 
                </span>
                <br>
                <span>
                  <p class="tag is-primary"><b>Prénom: </b></p> <%= student.firstname %> 
                </span>
                <br>
                <span >
                  <p class="tag is-primary"><b>Mail: </b></p> <%= student.mail %> 
                </span>
                <br>
                <span>
                  <p class="tag is-primary"><b>Classes: </b></p> <%= student.classe %> 
                </span>
                <br>
                <span>
                  <p class="tag is-primary"><b>Tel: </b></p> <%= student.tel %> 
                </span>
                <br>
                <time><i><%= new Date().toDateString() %></i></time>
              </div>
            </div>
          </div>
        </a>
      <% })  %>
    </div>
  </div>
</section>
<% include footer %>
